{{!
    SPDX-FileCopyrightText: 2023-2024 Proyecto UNIMOODLE <direccion.area.estrategia.digital@uva.es>

    SPDX-License-Identifier: GPL-3.0-or-later
}}
{{!
    @template local_mail/notification_html

    HTML notification template.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * coursename
    * courseurl
    * sendername
    * senderurl
    * date
    * subject
    * content
    * hasattachments
    * attachments: array of objects with path, size, url and icon
    * viewurl

    Example context (json):
    {
        "coursename": "Introduction to algebra",
        "courseurl": "https://example.com/course/view.php?id=2",
        "sendername": "Alice Wonder",
        "senderurl": "https://example.com/user/view.php?id=3&course=2",
        "date": "1 January 2026, 10:00",
        "subject": "Assignment feedback",
        "content": "<p>Please read the attached notes before the next session.</p>",
        "hasattachments": true,
        "attachments": [
            {
                "path": "notes.pdf",
                "size": "12.4 KB",
                "url": "https://example.com/pluginfile.php/1/local_mail/message/1/notes.pdf",
                "icon": "https://example.com/theme/image.php/boost/core/1/f/pdf"
            }
        ],
        "viewurl": "https://example.com/local/mail/view.php?t=inbox&m=1"
    }
}}
<div style="font-family: sans-serif">
    <table style="width: 100%; line-height: 1.5; border: 0; border-collapse: collapse; border-spacing: 0">
        <tr>
            <td style="vertical-align: top; padding-right: 1em">{{#str}} from, local_mail {{/str}}:</td>
            <td><a target="_blank" href="{{{ senderurl }}}">{{ sendername }}</a></td>
        </tr>
        <tr>
            <td style="vertical-align: top; padding-right: 1em">{{#str}} subject, local_mail {{/str}}:</td>
            <td>
                <a target="_blank" href="{{ viewurl }}">
                    {{ subject }}
                </a>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; padding-right: 1em">{{#str}} course, local_mail {{/str}}:</td>
            <td><a target="_blank" href="{{{ courseurl }}}">{{ coursename }}</a></td>
        </tr>
        <tr>
            <td style="vertical-align: top; padding-right: 1em">{{#str}} date, local_mail {{/str}}:</td>
            <td>{{ date }}</td>
        </tr>
    </table>
    <hr style="height: 1px; border: 0; background-color: #cccccc">
    {{{ content }}}
    {{# hasattachments }}
    <hr style="height: 1px; border: 0; background-color: #cccccc">
    {{# attachments }}
        <div style="margin: 8px 0">
            <img aria-hidden="true" alt="" src="{{ icon }}" width="24" height="24" style="vertical-align: middle">
            <a target="_blank" href="{{ url }}">{{ path }}</a> ({{ size }})
        </div>
    {{/ attachments }}
    {{/ hasattachments }}
    <hr style="height: 1px; border: 0; background-color: #cccccc">
    <a target="_blank" href="{{ viewurl }}">{{#str}} viewmessage, local_mail {{/str}}</a>
</div>
